body {
	height: auto;
}

#subscribe-message {
	position: fixed;
	width: 514px;
	right: 0;
	bottom: 20px;
	background: #FFF;
	color: #000;
	z-index: 9999;
	padding: 10px;
	font-family: Arial;
	font-size: 15px;
	display: none;
	border: 7px solid #F00;
}
#subscribe-message p {
	margin:0;
	font-size: 30px;
	font-family: Verdana;
}
.subscribe-email {
	width: 215px;
	height: 27px;
	border: none;
	outline: none;
	margin-right: 1px;
	padding: 0 10px;
	color: #666;
	font-size: 14px;
}
#subscribe-message form {
	text-align:center;
	font-family: Arial; 
}
#subscribe-message form label span{
	font-size: 18px;
}
.close_button {
	position:absolute;
	top:15px;
	right:15px;
}
.subscribe_arrow {
	text-align: center;
}
.subscribe-margin {
	padding:20px 10px 0;
	background: url(img/background-message.png) repeat-x;
}